.background {
  display: block;
  align-items: center;
}

.session {
  margin: auto;
  width: 90%;
  color: white;
  }

  .session button {
    background-color: red;
    color: white;
    border-radius: 50px;
    margin-left: 30%;
  }

h1, h2 {
  color: white;
}
.header-mainpage {
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: white;
}

.header-mainpage select{
  color: white;
  background-color: red;
  height: 30px;
  border: none;
  border-radius: 20px;
  margin-left: 3vw;
}

button {
  border-radius: 50px;
}

.diarios {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 90%;
  height: 150px;
  margin: auto;
  display: flex;           
  flex-direction: column;    
  align-items: center;      
  padding: 10px;   
  color: white;
}

.veiculos-diarios button{
  margin-right: 10px;
  background-color: red;
  color: white;
}

.admin {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.admin button {
  width: 200px;
  margin: auto;
  margin: 10px;
  background-color: red;
  color: white;
}

